body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
  }
  
  h1 {
    margin-top: 20px;
  }
  
  #photoInput {
    margin-top: 20px;
  }
  
  #uploadButton {
    margin-top: 10px;
  }
  
  #preview {
    margin-top: 20px;
  }
  